In [1]:
import matplotlib.pyplot as plt
from numpy import set_printoptions
from pandas import read_csv

In [2]:
filename = "pima_indians_dataset.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
pimaindiansdata = read_csv('pima_indians_dataset.csv', names = names)

# pima indians assignment answer

In [3]:
pimaindiansdata

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [4]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size()

class
0    82
1    35
dtype: int64

In [5]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').count()

       preg  plas  pres  skin  test  mass  pedi  age
class
0        82    82    82    82    82    82    82   82
1        35    35    35    35    35    35    35   35

In [6]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size()

class
0    82
1    35
dtype: int64

In [7]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)]

     preg  plas  pres  skin  test  mass   pedi  age  class
6       3    78    50    32    88  31.0  0.248   26      1
7      10   115     0     0     0  35.3  0.134   29      0
20      3   126    88    41   235  39.3  0.704   27      0
23      9   119    80    35     0  29.0  0.263   29      1
31      3   158    76    36   245  31.6  0.851   28      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
731     8   120    86     0     0  28.4  0.259   22      1
735     4    95    60    32     0  35.4  0.284   28      0
741     3   102    44    20    94  30.8  0.400   26      0
750     4   136    70     0     0  31.2  1.182   22      1
752     3   108    62    24     0  26.0  0.223   25      0

[117 rows x 9 columns]

In [8]:
x = pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size().sum()

In [11]:
len(pimaindiansdata)

768

In [12]:
pimaindiansdata.shape

(768, 9)

In [13]:
35/768

0.045572916666666664

In [14]:
117/768

0.15234375

In [15]:
0.15 * 0.0455 * 100

0.6825

In [16]:
(35 / 117) * 100

29.914529914529915