In [1]:
import matplotlib.pyplot as plt
from numpy import set_printoptions
from pandas import read_csv
import pandas as pd

In [3]:
#filename = 'world_food_production_dataset.csv'
#names = ['Date','Centre_Name','Commodity_Name','Price']
data = pd.read_csv('world_food_production_dataset.csv', encoding='latin-1')

In [4]:
print(data)

      Area Abbreviation  Area Code         Area  Item Code  \
0                   AFG          2  Afghanistan       2511
1                   AFG          2  Afghanistan       2805
2                   AFG          2  Afghanistan       2513
3                   AFG          2  Afghanistan       2513
4                   AFG          2  Afghanistan       2514
...                 ...        ...          ...        ...
21472               ZWE        181     Zimbabwe       2948
21473               ZWE        181     Zimbabwe       2960
21474               ZWE        181     Zimbabwe       2960
21475               ZWE        181     Zimbabwe       2961
21476               ZWE        181     Zimbabwe       2928

                           Item  Element Code Element         Unit  latitude  \
0            Wheat and products          5142    Food  1000 tonnes     33.94
1      Rice (Milled Equivalent)          5142    Food  1000 tonnes     33.94
2           Barley and products          5521    Feed  1000 tonnes     33.94
3           Barley and products          5142    Food  1000 tonnes     33.94
4            Maize and products          5521    Feed  1000 tonnes     33.94
...                         ...           ...     ...          ...       ...
21472   Milk - Excluding Butter          5142    Food  1000 tonnes    -19.02
21473             Fish, Seafood          5521    Feed  1000 tonnes    -19.02
21474             Fish, Seafood          5142    Food  1000 tonnes    -19.02
21475   Aquatic Products, Other          5142    Food  1000 tonnes    -19.02
21476             Miscellaneous          5142    Food  1000 tonnes    -19.02

       longitude  ...   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010  \
0          67.71  ...  3249.0  3486.0  3704.0  4164.0  4252.0  4538.0  4605.0
1          67.71  ...   419.0   445.0   546.0   455.0   490.0   415.0   442.0
2          67.71  ...    58.0   236.0   262.0   263.0   230.0   379.0   315.0
3          67.71  ...   185.0    43.0    44.0    48.0    62.0    55.0    60.0
4          67.71  ...   120.0   208.0   233.0   249.0   247.0   195.0   178.0
...          ...  ...     ...     ...     ...     ...     ...     ...     ...
21472      29.15  ...   373.0   357.0   359.0   356.0   341.0   385.0   418.0
21473      29.15  ...     5.0     4.0     9.0     6.0     9.0     5.0    15.0
21474      29.15  ...    18.0    14.0    17.0    14.0    15.0    18.0    29.0
21475      29.15  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
21476      29.15  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0

        Y2011  Y2012  Y2013
0      4711.0   4810   4895
1       476.0    425    422
2       203.0    367    360
3        72.0     78     89
4       191.0    200    200
...       ...    ...    ...
21472   457.0    426    451
21473    15.0     15     15
21474    40.0     40     40
21475     0.0      0      0
21476     0.0      0      0

[21477 rows x 63 columns]

In [4]:
print(data.shape)

(21477, 63)

In [5]:
print(data.dtypes)

Area Abbreviation     object
Area Code              int64
Area                  object
Item Code              int64
Item                  object
                      ...
Y2009                float64
Y2010                float64
Y2011                float64
Y2012                  int64
Y2013                  int64
Length: 63, dtype: object

In [6]:
data.ndim

2

In [7]:
print(data.head())

  Area Abbreviation  Area Code         Area  Item Code  \
0               AFG          2  Afghanistan       2511
1               AFG          2  Afghanistan       2805
2               AFG          2  Afghanistan       2513
3               AFG          2  Afghanistan       2513
4               AFG          2  Afghanistan       2514

                       Item  Element Code Element         Unit  latitude  \
0        Wheat and products          5142    Food  1000 tonnes     33.94
1  Rice (Milled Equivalent)          5142    Food  1000 tonnes     33.94
2       Barley and products          5521    Feed  1000 tonnes     33.94
3       Barley and products          5142    Food  1000 tonnes     33.94
4        Maize and products          5521    Feed  1000 tonnes     33.94

   longitude  ...   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010  \
0      67.71  ...  3249.0  3486.0  3704.0  4164.0  4252.0  4538.0  4605.0
1      67.71  ...   419.0   445.0   546.0   455.0   490.0   415.0   442.0
2      67.71  ...    58.0   236.0   262.0   263.0   230.0   379.0   315.0
3      67.71  ...   185.0    43.0    44.0    48.0    62.0    55.0    60.0
4      67.71  ...   120.0   208.0   233.0   249.0   247.0   195.0   178.0

    Y2011  Y2012  Y2013
0  4711.0   4810   4895
1   476.0    425    422
2   203.0    367    360
3    72.0     78     89
4   191.0    200    200

[5 rows x 63 columns]

In [8]:
print(data.head(10))

  Area Abbreviation  Area Code         Area  Item Code  \
0               AFG          2  Afghanistan       2511
1               AFG          2  Afghanistan       2805
2               AFG          2  Afghanistan       2513
3               AFG          2  Afghanistan       2513
4               AFG          2  Afghanistan       2514
5               AFG          2  Afghanistan       2514
6               AFG          2  Afghanistan       2517
7               AFG          2  Afghanistan       2520
8               AFG          2  Afghanistan       2531
9               AFG          2  Afghanistan       2536

                       Item  Element Code Element         Unit  latitude  \
0        Wheat and products          5142    Food  1000 tonnes     33.94
1  Rice (Milled Equivalent)          5142    Food  1000 tonnes     33.94
2       Barley and products          5521    Feed  1000 tonnes     33.94
3       Barley and products          5142    Food  1000 tonnes     33.94
4        Maize and products          5521    Feed  1000 tonnes     33.94
5        Maize and products          5142    Food  1000 tonnes     33.94
6       Millet and products          5142    Food  1000 tonnes     33.94
7            Cereals, Other          5142    Food  1000 tonnes     33.94
8     Potatoes and products          5142    Food  1000 tonnes     33.94
9                Sugar cane          5521    Feed  1000 tonnes     33.94

   longitude  ...   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010  \
0      67.71  ...  3249.0  3486.0  3704.0  4164.0  4252.0  4538.0  4605.0
1      67.71  ...   419.0   445.0   546.0   455.0   490.0   415.0   442.0
2      67.71  ...    58.0   236.0   262.0   263.0   230.0   379.0   315.0
3      67.71  ...   185.0    43.0    44.0    48.0    62.0    55.0    60.0
4      67.71  ...   120.0   208.0   233.0   249.0   247.0   195.0   178.0
5      67.71  ...   231.0    67.0    82.0    67.0    69.0    71.0    82.0
6      67.71  ...    15.0    21.0    11.0    19.0    21.0    18.0    14.0
7      67.71  ...     2.0     1.0     1.0     0.0     0.0     0.0     0.0
8      67.71  ...   276.0   294.0   294.0   260.0   242.0   250.0   192.0
9      67.71  ...    50.0    29.0    61.0    65.0    54.0   114.0    83.0

    Y2011  Y2012  Y2013
0  4711.0   4810   4895
1   476.0    425    422
2   203.0    367    360
3    72.0     78     89
4   191.0    200    200
5    73.0     77     76
6    14.0     14     12
7     0.0      0      0
8   169.0    196    230
9    83.0     69     81

[10 rows x 63 columns]

In [9]:
print(data.tail())

      Area Abbreviation  Area Code      Area  Item Code  \
21472               ZWE        181  Zimbabwe       2948
21473               ZWE        181  Zimbabwe       2960
21474               ZWE        181  Zimbabwe       2960
21475               ZWE        181  Zimbabwe       2961
21476               ZWE        181  Zimbabwe       2928

                          Item  Element Code Element         Unit  latitude  \
21472  Milk - Excluding Butter          5142    Food  1000 tonnes    -19.02
21473            Fish, Seafood          5521    Feed  1000 tonnes    -19.02
21474            Fish, Seafood          5142    Food  1000 tonnes    -19.02
21475  Aquatic Products, Other          5142    Food  1000 tonnes    -19.02
21476            Miscellaneous          5142    Food  1000 tonnes    -19.02

       longitude  ...  Y2004  Y2005  Y2006  Y2007  Y2008  Y2009  Y2010  Y2011  \
21472      29.15  ...  373.0  357.0  359.0  356.0  341.0  385.0  418.0  457.0
21473      29.15  ...    5.0    4.0    9.0    6.0    9.0    5.0   15.0   15.0
21474      29.15  ...   18.0   14.0   17.0   14.0   15.0   18.0   29.0   40.0
21475      29.15  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
21476      29.15  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

       Y2012  Y2013
21472    426    451
21473     15     15
21474     40     40
21475      0      0
21476      0      0

[5 rows x 63 columns]

In [10]:
print(data.tail(10))

      Area Abbreviation  Area Code      Area  Item Code  \
21467               ZWE        181  Zimbabwe       2943
21468               ZWE        181  Zimbabwe       2945
21469               ZWE        181  Zimbabwe       2946
21470               ZWE        181  Zimbabwe       2949
21471               ZWE        181  Zimbabwe       2948
21472               ZWE        181  Zimbabwe       2948
21473               ZWE        181  Zimbabwe       2960
21474               ZWE        181  Zimbabwe       2960
21475               ZWE        181  Zimbabwe       2961
21476               ZWE        181  Zimbabwe       2928

                          Item  Element Code Element         Unit  latitude  \
21467                     Meat          5142    Food  1000 tonnes    -19.02
21468                   Offals          5142    Food  1000 tonnes    -19.02
21469              Animal fats          5142    Food  1000 tonnes    -19.02
21470                     Eggs          5142    Food  1000 tonnes    -19.02
21471  Milk - Excluding Butter          5521    Feed  1000 tonnes    -19.02
21472  Milk - Excluding Butter          5142    Food  1000 tonnes    -19.02
21473            Fish, Seafood          5521    Feed  1000 tonnes    -19.02
21474            Fish, Seafood          5142    Food  1000 tonnes    -19.02
21475  Aquatic Products, Other          5142    Food  1000 tonnes    -19.02
21476            Miscellaneous          5142    Food  1000 tonnes    -19.02

       longitude  ...  Y2004  Y2005  Y2006  Y2007  Y2008  Y2009  Y2010  Y2011  \
21467      29.15  ...  222.0  228.0  233.0  238.0  242.0  265.0  262.0  277.0
21468      29.15  ...   20.0   20.0   21.0   21.0   21.0   21.0   21.0   21.0
21469      29.15  ...   26.0   26.0   29.0   29.0   27.0   31.0   30.0   25.0
21470      29.15  ...   15.0   18.0   18.0   21.0   22.0   27.0   27.0   24.0
21471      29.15  ...   21.0   21.0   21.0   21.0   21.0   23.0   25.0   25.0
21472      29.15  ...  373.0  357.0  359.0  356.0  341.0  385.0  418.0  457.0
21473      29.15  ...    5.0    4.0    9.0    6.0    9.0    5.0   15.0   15.0
21474      29.15  ...   18.0   14.0   17.0   14.0   15.0   18.0   29.0   40.0
21475      29.15  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
21476      29.15  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

       Y2012  Y2013
21467    280    258
21468     22     22
21469     26     20
21470     24     25
21471     30     31
21472    426    451
21473     15     15
21474     40     40
21475      0      0
21476      0      0

[10 rows x 63 columns]

In [11]:
print(data['Item'])

0              Wheat and products
1        Rice (Milled Equivalent)
2             Barley and products
3             Barley and products
4              Maize and products
                   ...
21472     Milk - Excluding Butter
21473               Fish, Seafood
21474               Fish, Seafood
21475     Aquatic Products, Other
21476               Miscellaneous
Name: Item, Length: 21477, dtype: object

In [12]:
data['Y2013'].describe()

count     21477.000000
mean        575.557480
std        6218.379479
min        -246.000000
25%           0.000000
50%           8.000000
75%          90.000000
max      489299.000000
Name: Y2013, dtype: float64

In [13]:
data['Area'].describe()

count     21477
unique      174
top       Spain
freq        150
Name: Area, dtype: object

In [14]:
data.Area.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Area, dtype: object

In [15]:
data.iloc[:,2].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Area, dtype: object

In [16]:
data['Area'].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Area, dtype: object

In [17]:
# Single selections using iloc and DataFrame

# Rows:

data.iloc[0] # first row of data frame

Area Abbreviation                   AFG
Area Code                             2
Area                        Afghanistan
Item Code                          2511
Item                 Wheat and products
                            ...
Y2009                              4538
Y2010                              4605
Y2011                              4711
Y2012                              4810
Y2013                              4895
Name: 0, Length: 63, dtype: object

In [18]:
data.iloc[1] # second row of data frame

Area Abbreviation                         AFG
Area Code                                   2
Area                              Afghanistan
Item Code                                2805
Item                 Rice (Milled Equivalent)
                               ...
Y2009                                     415
Y2010                                     442
Y2011                                     476
Y2012                                     425
Y2013                                     422
Name: 1, Length: 63, dtype: object

In [19]:
data.iloc[-1] # last row of data frame

Area Abbreviation              ZWE
Area Code                      181
Area                      Zimbabwe
Item Code                     2928
Item                 Miscellaneous
                         ...
Y2009                            0
Y2010                            0
Y2011                            0
Y2012                            0
Y2013                            0
Name: 21476, Length: 63, dtype: object

In [20]:
data.iloc[:,0] # first column of data frame

0        AFG
1        AFG
2        AFG
3        AFG
4        AFG
        ...
21472    ZWE
21473    ZWE
21474    ZWE
21475    ZWE
21476    ZWE
Name: Area Abbreviation, Length: 21477, dtype: object

In [21]:
data.iloc[:,1] # second column of data frame

0          2
1          2
2          2
3          2
4          2
        ...
21472    181
21473    181
21474    181
21475    181
21476    181
Name: Area Code, Length: 21477, dtype: int64

In [22]:
data.iloc[:,-1] # last column of data frame and all rows

0        4895
1         422
2         360
3          89
4         200
         ...
21472     451
21473      15
21474      40
21475       0
21476       0
Name: Y2013, Length: 21477, dtype: int64

In [23]:
print(data.iloc[0:5]) # first five rows of dataframe

print(data.iloc[:, 0:2]) # first two columns of data frame with all rows

  Area Abbreviation  Area Code         Area  Item Code  \
0               AFG          2  Afghanistan       2511
1               AFG          2  Afghanistan       2805
2               AFG          2  Afghanistan       2513
3               AFG          2  Afghanistan       2513
4               AFG          2  Afghanistan       2514

                       Item  Element Code Element         Unit  latitude  \
0        Wheat and products          5142    Food  1000 tonnes     33.94
1  Rice (Milled Equivalent)          5142    Food  1000 tonnes     33.94
2       Barley and products          5521    Feed  1000 tonnes     33.94
3       Barley and products          5142    Food  1000 tonnes     33.94
4        Maize and products          5521    Feed  1000 tonnes     33.94

   longitude  ...   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010  \
0      67.71  ...  3249.0  3486.0  3704.0  4164.0  4252.0  4538.0  4605.0
1      67.71  ...   419.0   445.0   546.0   455.0   490.0   415.0   442.0
2      67.71  ...    58.0   236.0   262.0   263.0   230.0   379.0   315.0
3      67.71  ...   185.0    43.0    44.0    48.0    62.0    55.0    60.0
4      67.71  ...   120.0   208.0   233.0   249.0   247.0   195.0   178.0

    Y2011  Y2012  Y2013
0  4711.0   4810   4895
1   476.0    425    422
2   203.0    367    360
3    72.0     78     89
4   191.0    200    200

[5 rows x 63 columns]
      Area Abbreviation  Area Code
0                   AFG          2
1                   AFG          2
2                   AFG          2
3                   AFG          2
4                   AFG          2
...                 ...        ...
21472               ZWE        181
21473               ZWE        181
21474               ZWE        181
21475               ZWE        181
21476               ZWE        181

[21477 rows x 2 columns]

In [24]:
print(data.iloc[[0,3,6,24], [0,2,3]])

print(data.iloc[0:5, 2:4])

   Area Abbreviation         Area  Item Code
0                AFG  Afghanistan       2511
3                AFG  Afghanistan       2513
6                AFG  Afghanistan       2517
24               AFG  Afghanistan       2575
          Area  Item Code
0  Afghanistan       2511
1  Afghanistan       2805
2  Afghanistan       2513
3  Afghanistan       2513
4  Afghanistan       2514

In [25]:
data.set_index("Area", inplace=True)

data

,Area Abbreviation,Area Code,Item Code,Item,Element Code,Element,Unit,latitude,longitude,Y1961,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,2,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,1928.0,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
Afghanistan,AFG,2,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,183.0,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
Afghanistan,AFG,2,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,76.0,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
Afghanistan,AFG,2,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,237.0,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
Afghanistan,AFG,2,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,210.0,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,ZWE,181,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,230.0,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451
Zimbabwe,ZWE,181,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,27.0,...,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15
Zimbabwe,ZWE,181,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,6.0,...,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40
Zimbabwe,ZWE,181,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
Zimbabwe,ZWE,181,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [26]:
data.reset_index("Area", inplace=True)

In [27]:
data

,Area,Area Abbreviation,Area Code,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,Afghanistan,AFG,2,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,Afghanistan,AFG,2,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,Afghanistan,AFG,2,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,Afghanistan,AFG,2,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,Afghanistan,AFG,2,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,Zimbabwe,ZWE,181,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451
21473,Zimbabwe,ZWE,181,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,...,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15
21474,Zimbabwe,ZWE,181,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,...,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40
21475,Zimbabwe,ZWE,181,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
21476,Zimbabwe,ZWE,181,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [28]:
data['Y2013']

0        4895
1         422
2         360
3          89
4         200
         ...
21472     451
21473      15
21474      40
21475       0
21476       0
Name: Y2013, Length: 21477, dtype: int64

In [29]:
# Series summary operations.
# We are selecting the column "Y2007", and performing various calculations.
print(data['Y2007'].sum(), # Total sum of the column values
 data['Y2007'].mean(), # Mean of the column values
 data['Y2007'].median(), # Median of the column values
 data['Y2007'].nunique(), # Number of unique entries
 data['Y2007'].max(), # Maximum of the column values
 data['Y2007'].min()) # Minimum of the column values

Out: [10867788.0, 508.48210358863986, 7.0, 1994, 402975.0, 0.0]

10867788.0 508.48210358863986 7.0 1994 402975.0 0.0

In [30]:
data['Y2013'].describe()

count     21477.000000
mean        575.557480
std        6218.379479
min        -246.000000
25%           0.000000
50%           8.000000
75%          90.000000
max      489299.000000
Name: Y2013, dtype: float64

In [31]:
data.describe()

,Area Code,Item Code,Element Code,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
count,21477.000000,21477.000000,21477.000000,21477.000000,21477.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,...,21128.000000,21128.000000,21373.000000,21373.000000,21373.000000,21373.000000,21373.000000,21373.000000,21477.000000,21477.000000
mean,125.449411,2694.211529,5211.687154,20.450613,15.794445,195.262069,200.782250,205.464600,209.925577,217.556751,...,486.690742,493.153256,496.319328,508.482104,522.844898,524.581996,535.492069,553.399242,560.569214,575.557480
std,72.868149,148.973406,146.820079,24.628336,66.012104,1864.124336,1884.265591,1861.174739,1862.000116,2014.934333,...,5001.782008,5100.057036,5134.819373,5298.939807,5496.697513,5545.939303,5721.089425,5883.071604,6047.950804,6218.379479
min,1.000000,2511.000000,5142.000000,-40.900000,-172.100000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-169.000000,-246.000000
25%,63.000000,2561.000000,5142.000000,6.430000,-11.780000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,120.000000,2640.000000,5142.000000,20.590000,19.150000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,8.000000,8.000000,8.000000
75%,188.000000,2782.000000,5142.000000,41.150000,46.870000,21.000000,22.000000,23.000000,24.000000,25.000000,...,75.000000,77.000000,78.000000,80.000000,82.000000,83.000000,83.000000,86.000000,88.000000,90.000000
max,276.000000,2961.000000,5521.000000,64.960000,179.410000,112227.000000,109130.000000,106356.000000,104234.000000,119378.000000,...,360767.000000,373694.000000,388100.000000,402975.000000,425537.000000,434724.000000,451838.000000,462696.000000,479028.000000,489299.000000

In [32]:
data.corr(method='pearson')

,Area Code,Item Code,Element Code,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
Area Code,1.000000,-0.001314,0.007862,0.053814,0.077680,0.007061,0.005134,0.004841,0.004853,0.004361,...,-0.010485,-0.011719,-0.013540,-0.014225,-0.015650,-0.016886,-0.017925,-0.018573,-0.019093,-0.018742
Item Code,-0.001314,1.000000,0.012293,-0.003563,0.000103,0.054556,0.055486,0.057687,0.059259,0.056008,...,0.051213,0.051324,0.051760,0.051524,0.050866,0.051107,0.050643,0.050585,0.050167,0.049525
Element Code,0.007862,0.012293,1.000000,0.100812,0.006947,0.021959,0.022642,0.025069,0.025342,0.024208,...,0.009096,0.007513,0.006140,0.005712,0.006732,0.004638,0.004035,0.005664,0.004163,0.006488
latitude,0.053814,-0.003563,0.100812,1.000000,0.058966,0.065602,0.066104,0.068463,0.069209,0.066456,...,0.035398,0.034082,0.031986,0.031297,0.030821,0.030222,0.028361,0.028800,0.027776,0.028105
longitude,0.077680,0.000103,0.006947,0.058966,1.000000,0.008639,0.009847,0.010278,0.011368,0.011287,...,0.033330,0.034390,0.035262,0.035333,0.036397,0.037474,0.038282,0.039753,0.039838,0.039583
Y1961,0.007061,0.054556,0.021959,0.065602,0.008639,1.000000,0.996953,0.991819,0.982618,0.986428,...,0.783224,0.773573,0.748405,0.744830,0.726700,0.717710,0.701701,0.689836,0.678701,0.684158
Y1962,0.005134,0.055486,0.022642,0.066104,0.009847,0.996953,1.000000,0.996036,0.988795,0.991424,...,0.779464,0.769505,0.744198,0.739794,0.721512,0.712546,0.696515,0.684652,0.672936,0.677977
Y1963,0.004841,0.057687,0.025069,0.068463,0.010278,0.991819,0.996036,1.000000,0.997223,0.995657,...,0.777176,0.766717,0.742289,0.737620,0.719166,0.710208,0.694291,0.683323,0.671643,0.676601
Y1964,0.004853,0.059259,0.025342,0.069209,0.011368,0.982618,0.988795,0.997223,1.000000,0.994727,...,0.775392,0.764597,0.740993,0.736044,0.717122,0.708313,0.692434,0.681809,0.669841,0.674704
Y1965,0.004361,0.056008,0.024208,0.066456,0.011287,0.986428,0.991424,0.995657,0.994727,1.000000,...,0.771439,0.760283,0.733561,0.728166,0.708955,0.699495,0.683006,0.672078,0.660149,0.665580
Y1966,0.002453,0.055515,0.025329,0.065868,0.012141,0.982625,0.989009,0.993844,0.992248,0.997596,...,0.765993,0.754711,0.727644,0.721870,0.703720,0.694323,0.678586,0.668654,0.657058,0.662223
Y1967,0.003078,0.055834,0.025196,0.066120,0.012434,0.981942,0.987950,0.993042,0.992648,0.996960,...,0.771505,0.760227,0.733280,0.727673,0.709199,0.699786,0.684136,0.674129,0.662294,0.667705
Y1968,0.003161,0.056337,0.027283,0.065138,0.011451,0.983368,0.989044,0.994559,0.993602,0.996640,...,0.771286,0.759911,0.733430,0.728148,0.709346,0.700020,0.683933,0.673594,0.661675,0.667191
Y1969,0.003617,0.055482,0.026282,0.064439,0.011451,0.984126,0.989107,0.991926,0.989728,0.996408,...,0.770611,0.759171,0.731505,0.726249,0.707287,0.697634,0.681194,0.670515,0.658460,0.664261
Y1970,0.003027,0.055303,0.025306,0.063909,0.013467,0.971269,0.978509,0.984255,0.984812,0.992272,...,0.754066,0.741988,0.713428,0.707410,0.688860,0.679139,0.663314,0.653668,0.641558,0.646796
Y1971,0.003968,0.055023,0.025696,0.063655,0.012279,0.971906,0.978211,0.983964,0.984730,0.993650,...,0.767024,0.755133,0.726749,0.721070,0.701656,0.691946,0.675424,0.665444,0.653520,0.659774
Y1972,0.005268,0.054837,0.025746,0.063680,0.012180,0.969790,0.975133,0.981965,0.984013,0.992194,...,0.757287,0.744991,0.716495,0.711079,0.690725,0.680693,0.663655,0.653129,0.640593,0.647128
Y1973,0.002955,0.053713,0.024808,0.063428,0.015544,0.965998,0.972908,0.978621,0.979483,0.988771,...,0.765118,0.752759,0.723427,0.717681,0.698809,0.689506,0.673690,0.664175,0.652230,0.658020
Y1974,0.000418,0.058186,0.022431,0.065856,0.019070,0.948813,0.959186,0.967761,0.970783,0.976829,...,0.777138,0.765656,0.739622,0.732802,0.717323,0.708597,0.695056,0.687672,0.676528,0.679950
Y1975,0.000685,0.057233,0.022964,0.063752,0.018399,0.951770,0.962280,0.971318,0.975005,0.979774,...,0.782623,0.771095,0.745288,0.738680,0.722290,0.713275,0.699390,0.691581,0.680206,0.684439
Y1976,0.002195,0.059305,0.022466,0.065499,0.018646,0.948364,0.957808,0.969186,0.974362,0.978651,...,0.786462,0.775132,0.750028,0.743288,0.726653,0.717841,0.703796,0.696384,0.685193,0.689359
Y1977,0.002063,0.057945,0.022368,0.064501,0.019265,0.946696,0.957067,0.965910,0.970855,0.976727,...,0.789116,0.777507,0.751653,0.745023,0.728399,0.719500,0.705516,0.697808,0.686374,0.690586
Y1978,0.001266,0.055658,0.023968,0.062970,0.019801,0.945645,0.955963,0.965375,0.970163,0.976858,...,0.793326,0.781512,0.755061,0.748575,0.731222,0.722343,0.708192,0.700295,0.688900,0.693886
Y1979,0.001803,0.056792,0.024894,0.063408,0.019123,0.938794,0.948380,0.961245,0.968653,0.973108,...,0.800593,0.788746,0.763336,0.757178,0.739267,0.730545,0.716013,0.708467,0.697233,0.702920
Y1980,-0.000305,0.058206,0.022102,0.062763,0.020504,0.922147,0.935174,0.948210,0.957051,0.961202,...,0.804443,0.793164,0.769081,0.762197,0.745625,0.737008,0.723434,0.716545,0.705518,0.710462
Y1981,0.000589,0.058239,0.021850,0.062571,0.020566,0.926240,0.936983,0.951582,0.961332,0.962774,...,0.819342,0.808355,0.786146,0.779750,0.763106,0.754217,0.740582,0.733117,0.722047,0.726712
Y1982,0.000414,0.056921,0.021556,0.061402,0.020531,0.919882,0.930895,0.945124,0.955134,0.959225,...,0.821835,0.810957,0.788373,0.781775,0.764819,0.756094,0.742111,0.734546,0.723203,0.727994
Y1983,-0.001691,0.057068,0.019239,0.061215,0.024555,0.901902,0.914831,0.930420,0.942678,0.943335,...,0.836403,0.826124,0.805830,0.798776,0.783989,0.776341,0.764245,0.757854,0.747344,0.750614
Y1984,-0.001053,0.057046,0.021450,0.061690,0.024469,0.902076,0.913420,0.929378,0.941515,0.941879,...,0.850562,0.840437,0.820829,0.814336,0.799622,0.792026,0.779760,0.773298,0.763129,0.766725
Y1985,-0.001244,0.058551,0.020369,0.061441,0.023576,0.898386,0.910420,0.927260,0.940150,0.937527,...,0.860928,0.851206,0.833377,0.827192,0.811888,0.804722,0.792024,0.784519,0.773551,0.776540
Y1986,-0.001183,0.057142,0.019209,0.060043,0.023563,0.902304,0.911738,0.926694,0.938392,0.936258,...,0.879967,0.870770,0.853621,0.848041,0.832598,0.825493,0.812744,0.804828,0.794320,0.797941
Y1987,-0.001903,0.057376,0.019306,0.059275,0.024020,0.901610,0.911633,0.925407,0.936307,0.933953,...,0.886040,0.876838,0.859637,0.854226,0.839033,0.832205,0.819654,0.811814,0.801210,0.804622
Y1988,-0.004092,0.059556,0.016583,0.059729,0.027925,0.878005,0.889614,0.904606,0.917289,0.909946,...,0.900667,0.892650,0.879331,0.873757,0.861433,0.855262,0.844845,0.838357,0.828166,0.829737
Y1989,-0.003975,0.058628,0.016163,0.058049,0.027367,0.882502,0.893723,0.907981,0.920436,0.913710,...,0.900136,0.891922,0.877864,0.872542,0.859143,0.853044,0.842036,0.834990,0.824497,0.826602
Y1990,-0.003737,0.057945,0.016186,0.058167,0.026186,0.891431,0.900350,0.914041,0.924705,0.921666,...,0.901295,0.893160,0.878001,0.872539,0.859085,0.852555,0.841266,0.834429,0.824478,0.826827
Y1991,-0.004492,0.057768,0.014579,0.056392,0.027141,0.886966,0.895350,0.907899,0.918404,0.914739,...,0.908332,0.900525,0.886266,0.881164,0.868131,0.861519,0.850868,0.844545,0.834617,0.837452
Y1992,0.003366,0.057142,0.019320,0.049710,0.031318,0.882962,0.890349,0.901647,0.911337,0.907875,...,0.911562,0.902553,0.888701,0.882596,0.875259,0.866038,0.851841,0.847803,0.836175,0.841694
Y1993,-0.000719,0.056912,0.017914,0.047308,0.032315,0.868433,0.875142,0.886138,0.894976,0.890792,...,0.935505,0.927969,0.916181,0.910536,0.903981,0.896687,0.885517,0.882008,0.872414,0.876254
Y1994,-0.002009,0.055779,0.016075,0.044309,0.030313,0.868357,0.873133,0.882652,0.890507,0.887438,...,0.946559,0.940053,0.928426,0.923763,0.914913,0.908904,0.898635,0.894251,0.885777,0.889874
Y1995,-0.005715,0.056647,0.013191,0.042755,0.034047,0.846954,0.852844,0.862579,0.870501,0.865599,...,0.956863,0.951629,0.942404,0.937758,0.930765,0.926122,0.918315,0.915083,0.907589,0.909796
Y1996,-0.005461,0.054784,0.013483,0.041995,0.032515,0.843005,0.847462,0.856220,0.863433,0.859025,...,0.965621,0.960417,0.950550,0.946718,0.938840,0.935051,0.926899,0.922948,0.915937,0.918663
Y1997,-0.005917,0.054719,0.011587,0.041171,0.032702,0.837254,0.840037,0.847084,0.853366,0.848939,...,0.974656,0.970137,0.961488,0.958154,0.951377,0.947466,0.939540,0.935672,0.928663,0.931346
Y1998,-0.006912,0.054023,0.009741,0.040064,0.031989,0.835324,0.838323,0.844756,0.850761,0.846348,...,0.975870,0.971549,0.962716,0.960090,0.952615,0.949350,0.942461,0.938196,0.931939,0.934100
Y1999,-0.007835,0.053476,0.008765,0.038668,0.032355,0.825476,0.827286,0.831846,0.836104,0.832073,...,0.983325,0.979941,0.972277,0.970095,0.963108,0.960606,0.954540,0.950424,0.944939,0.946784
Y2000,-0.009980,0.050897,0.009154,0.035814,0.031925,0.806922,0.805783,0.806980,0.808029,0.803416,...,0.994886,0.992922,0.987599,0.985932,0.981274,0.979148,0.973909,0.969843,0.964898,0.966447
Y2001,-0.010328,0.050607,0.009288,0.035895,0.032975,0.797275,0.795259,0.795282,0.795393,0.791064,...,0.996758,0.995220,0.991132,0.989547,0.986040,0.983880,0.978631,0.974924,0.970272,0.971973
Y2002,-0.011062,0.050462,0.008034,0.035168,0.033330,0.778500,0.775863,0.774641,0.773777,0.768983,...,0.998265,0.997656,0.994878,0.993529,0.990634,0.989459,0.985659,0.982220,0.978087,0.978737
Y2003,-0.010759,0.050919,0.007610,0.034839,0.033318,0.780513,0.777288,0.775625,0.774393,0.769883,...,0.998613,0.998377,0.995945,0.994984,0.991293,0.990207,0.986672,0.982964,0.979072,0.980081
Y2004,-0.010485,0.051213,0.009096,0.035398,0.033330,0.783224,0.779464,0.777176,0.775392,0.771439,...,1.000000,0.999312,0.996116,0.995125,0.991885,0.990350,0.985917,0.982259,0.977674,0.979028
Y2005,-0.011719,0.051324,0.007513,0.034082,0.034390,0.773573,0.769505,0.766717,0.764597,0.760283,...,0.999312,1.000000,0.997851,0.997071,0.994017,0.992962,0.989314,0.985736,0.981756,0.982701
Y2006,-0.013540,0.051760,0.006140,0.031986,0.035262,0.748405,0.744198,0.742289,0.740993,0.733561,...,0.996116,0.997851,1.000000,0.999354,0.997492,0.996869,0.994530,0.991657,0.988326,0.988656
Y2007,-0.014225,0.051524,0.005712,0.031297,0.035333,0.744830,0.739794,0.737620,0.736044,0.728166,...,0.995125,0.997071,0.999354,1.000000,0.997797,0.997528,0.995613,0.992592,0.989499,0.989998
Y2008,-0.015650,0.050866,0.006732,0.030821,0.036397,0.726700,0.721512,0.719166,0.717122,0.708955,...,0.991885,0.994017,0.997492,0.997797,1.000000,0.998767,0.996975,0.995378,0.992515,0.993012
Y2009,-0.016886,0.051107,0.004638,0.030222,0.037474,0.717710,0.712546,0.710208,0.708313,0.699495,...,0.990350,0.992962,0.996869,0.997528,0.998767,1.000000,0.998751,0.997033,0.995134,0.995057
Y2010,-0.017925,0.050643,0.004035,0.028361,0.038282,0.701701,0.696515,0.694291,0.692434,0.683006,...,0.985917,0.989314,0.994530,0.995613,0.996975,0.998751,1.000000,0.998794,0.997645,0.997082
Y2011,-0.018573,0.050585,0.005664,0.028800,0.039753,0.689836,0.684652,0.683323,0.681809,0.672078,...,0.982259,0.985736,0.991657,0.992592,0.995378,0.997033,0.998794,1.000000,0.998862,0.998512
Y2012,-0.019093,0.050167,0.004163,0.027776,0.039838,0.678701,0.672936,0.671643,0.669841,0.660149,...,0.977674,0.981756,0.988326,0.989499,0.992515,0.995134,0.997645,0.998862,1.000000,0.999200
Y2013,-0.018742,0.049525,0.006488,0.028105,0.039583,0.684158,0.677977,0.676601,0.674704,0.665580,...,0.979028,0.982701,0.988656,0.989998,0.993012,0.995057,0.997082,0.998512,0.999200,1.000000