In [52]:
import matplotlib.pyplot as plt
from numpy import set_printoptions
from pandas import read_csv

In [53]:
#filename = 'C:\\Users\\Gururajan\\Downloads\\daily_retail_price_Onion-upto_apr_2015.csv '
names = ['Date','Centre_Name','Commodity_Name','Price']
oniondata = read_csv('daily_Onion_retail_price_upto_apr_2015_dataset.csv', names = names)

In [54]:
filename = "pima_indians_dataset.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
pimaindiansdata = read_csv('pima_indians_dataset.csv', names = names)

# onion-price-data

In [55]:
oniondata

            Date      Centre_Name Commodity_Name  Price
0       25-11-97            DELHI          Onion    8.0
1       25-11-97           SHIMLA          Onion    7.0
2       25-11-97          LUCKNOW          Onion    5.0
3       25-11-97        AHMEDABAD          Onion    6.0
4       25-11-97           BHOPAL          Onion    8.0
...          ...              ...            ...    ...
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [56]:
oniondata.groupby(by="Commodity_Name").size()

Commodity_Name
Onion    127911
dtype: int64

In [57]:
oniondata.groupby(by="Commodity_Name").count()

                  Date  Centre_Name   Price
Commodity_Name
Onion           127911       127911  115991

In [58]:
oniondata.count()[0]

127911

In [59]:
y = oniondata.groupby(by="Commodity_Name").size()[0]
y

127911

In [80]:
x = oniondata[(oniondata.Price > 20) & (oniondata.Price < 40)].count()[0]
x

20847

In [27]:
x / y * 100

16.298050988577995

In [28]:
x = oniondata[(oniondata.Price > 50)].count()[0]
x

2541

In [29]:
x / y * 100

1.9865375143654571

In [61]:
minprice = oniondata['Price'].min()
maxprice = oniondata['Price'].max()

print(minprice)
print(maxprice)

2.0
100.0

In [62]:
x = oniondata[(oniondata.Price == maxprice)].count()[0]
x

18

In [63]:
x / y * 100

0.014072284635410558

In [64]:
x = oniondata[(oniondata.Price == minprice)].count()[0]
x

92

In [65]:
x / y * 100

0.07192501035876507

In [66]:
oniondata[oniondata.Price ==  minprice].groupby(by="Commodity_Name").size()[0]

92

In [67]:
print(oniondata[oniondata.Price == minprice].Centre_Name.unique())

['BENGALURU' 'CHENNAI' 'BHOPAL']

In [68]:
print(oniondata[oniondata.Price == maxprice].Centre_Name.unique())

['AIZWAL']

# pima-indians-data

In [70]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size()

class
0    82
1    35
dtype: int64

In [42]:
pimaindiansdata

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [71]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').count()

       preg  plas  pres  skin  test  mass  pedi  age
class
0        82    82    82    82    82    82    82   82
1        35    35    35    35    35    35    35   35

In [72]:
pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size()

class
0    82
1    35
dtype: int64

In [82]:
y = pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size().sum()
y

117

In [74]:
x = pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size()[0]
x

82

In [75]:
x = pimaindiansdata[(pimaindiansdata.age < 30) & (pimaindiansdata.preg > 2)].groupby(by='class').size()[1]
x

35

In [76]:
x / y * 100

29.914529914529915

In [77]:
y = pimaindiansdata.groupby(by='class').size()[1]
y

268

In [78]:
x / y * 100

13.059701492537313